* {
    margin: 0;
    padding: 0;
    border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

/** Header **/

header {
    display: flex;
    max-width: 1200px;
    margin: auto;
}

#header-left {
    flex: 1;
}

#header-left img {
    width: 100%;
    margin: auto;
    display: block;
}

#header-right {
    flex: 1;
}

img#logo-1 {
    width: 60%;
    margin: auto;
    display: block;
    margin-top: 160px;
    margin-bottom: 75px;
}

#header-right button {
    background-color: #e3001a;
    height: 50px;
    width: 200px;
    margin-top: 10px;
    margin: auto;
    display: block;
    font-family: "Montserrat";
    text-transform: uppercase;
}

#header-right button a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;
}

#header-right button a:hover {
    color: #efecda;
}

#sm-top {
    width: 150px;
    height: 100px;
    float: right;
    display: flex;
}

.fb {
    display: block;
    width: 100px;
    height: 100px;
    background: url('../img/facebook.svg');
    background-repeat: no-repeat;
    flex: 1;
}

.tw {
    display: block;
    width: 100px;
    height: 100px;
    background: url('../img/twitter.svg');
    background-repeat: no-repeat;
    flex: 1;
}

/** Navigation **/
nav.nav-home-top {
    max-width: 1200px;
    margin: auto;
    background-color: #e3dec0;
}

.nav-home-top ul {
    flex: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

.nav-home-top ul li {
    flex: 1;
}

.nav-home-top ul li a {
    display: block;
    color: #404040;
    text-decoration: none;
    padding: 40px 0;
    text-align: center;
    font-family: 'Montserrat';
    text-transform: uppercase;
}

.nav-home-top ul li.nav-active {
    display: block;
    background-color: #efecda;
    text-decoration: none;
    padding: 40px 0;
    text-align: center;
    font-family: 'Montserrat';
    height: 100%;
    text-transform: uppercase;
}

.nav-home-top ul li a:hover {
    color: #e3001a;
}

/** Call to action buttions **/
#cta-wrapper {
    display: flex;
    max-width: 1200px;
    margin: auto;
}
.call-to-action {
    flex: 1;
    text-align: center;
    margin: 5px;
    height: 200px;
    background-color: #e3001a;
}

#cta-wrapper article a {
    text-decoration: none;
    color: #ffffff;
}

#cta-wrapper article a:hover {
    color: #e3dec0;
}

#cta-wrapper article a h2 {
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-weight: 300;
    padding: 70px 0 0 0;
}

#cta-wrapper article a p {
    font-family: 'Arvo';
    font-size: 1.2em;
    font-weight: 400;
}

/** Banner **/
#hp-banner {
    position: relative;
    width: 100%;
}

#hp-banner img {
    max-width: 1200px;
    margin: auto;
    display: block;
}

h3 {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    text-align: center;
    font-family: 'Arvo';
    font-size: 1.8em;
    font-weight: 300;
}

h3 span {
    color: white;
    background-color: rgba(193, 66, 66, 0.76);
    padding: 50px 250px;
    color: #e3dec0
}

#naperville {
    font-family: 'Montserrat';
    padding: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0);

}
